body {
	font:	11pt Verdana, Arial, Helvetica, sans-serif;
	background:#eef;
	padding:0px;
	margin:0px;
	}
	
a {
	text-decoration:none;
	font-weight:bold;
	color:#00a;
	}
	
.greek {
	color:#999;
	}
	
blockquote {
    padding-left: 30px;
    padding-right: 30px;
    font: 10pt Georgia, Times, Times New Roman, serif;
}
ol {
	margin-right:40px;
	}
ul {
	margin-right:40px;
margin-left:40px;
	}
li {
	margin-bottom:10px;
	}

tt {
    font:   10pt Courier New, Courier, monospace;
    font-weight:bold;
}

.warning {
    font-size: 10pt;
    width: 600px;
    border: 1px dotted #999;
    padding: 10px;
    margin: 35px auto;
    background: #FFB;
}

.shell {
    font:   9pt Courier New, Courier, monospace;
    width: 600px;
    font-weight:bold;
    border: 1px solid #999;
    padding: 10px;
    margin: 15px auto;
    background: #EEE;
}

.topbar {
    margin: 25px auto;
    text-align: center;
    font-size: 9pt;
}

.back {
    margin: 25px auto;
    text-align: center;
    font-size: 9pt;
}

.back a {
    text-decoration:none;
    font-weight: normal;
    color:#000;
    font-size: 8pt;
    }

.center {
text-align:center;
}

#logo { text-align:center; border: 0px; }
	#content {
		margin: auto;
        padding-top: 35px;
		padding-bottom:10px;
		background:#fff;
		text-align:left;
		width: 800px;
        min-height: 600px;
		}
		
		
	p,h1 {
		margin-top:0px;
		margin-bottom:10px;padding:0px 20px 0px 40px;
		}

	h2 {
		margin-top:30px;
		padding:5px 20px 5px 20px;
		font-size:18px;
		}

	h3 {
		margin-top:0px;
		margin-bottom:10px;
		padding:15px 20px 0px 40px;
		font-size:16px;
		}
	h4 {
		padding:15px 20px 0px 40px;
		}		
		
h1 {
		font-size:24px;
		margin-top:10px;
		padding-left:10px;
		padding-right:10px;
		padding-top:5px;
		padding-bottom:5px;
text-align:center;
		}
		
	#title {
		padding:0px;
		margin-right:-6px;
		margin-left:-6px;
		width:100%; 
		}
	html>body #title {
		width:auto;
		}
			
		
	a.anchor {
		font-size:10px;
		font-weight:normal;
		}
		
	p.anchor {
		text-align:right;
		}
	
	.links {
		margin-left:50px;
		margin-right:30px;
		}
	
	#foto {
		padding:10px 30px 30px 30px;
		float:right;
	}
